header(class='header') 
    div(class='header__logo') 
        a(href="/" class='header__logo__text') 
            h2 JordiG
    nav(class='header__navigation') 
        ul(class='header__navigation__list')
            li(class='header__navigation__list__item')
                a(href="/blog") Blog
            li(class='header__navigation__list__item')
                a(href="#") Recomendaciones
            li(class='header__navigation__list__item')
                a(href="#") Sobre mi
