---
import SectionTitle from "./ui/SectionTitle.astro";
---

<div class="mb-24">
  <div class="text-zinc-600 dark:text-zinc-400">
    <p class="text-sm">
      I started getting interested in programming back in high school when I was
      16 years old. Currently, I'm working as a freelancer, constantly improving
      my skills every day.
    </p>
    <br />
    <p class="text-sm">
      I enjoy tackling complex problems, teaching, and learning from others. One
      of my most notable projects is <span class="text-black dark:text-white"
        >Archit</span
      >
      (productivity app), and <span class="text-blue-500">ComLang</span> (learning
      languages app). Both experiences have contributed significantly to my journey.
    </p>
  </div>
</div>
