<div
  class={`banner-wrapper Banner group h-96 overflow-hidden relative brightness-100 hover:brightness-105`}
>
  <img
    src="/banner.jpg"
    class="relative flex justify-center w-full h-full object-cover group-hover:scale-105 transition-all duration-700"
  />
</div>
