---
import Navigation from "./ui/Navigation.astro";
const navLinks = [
  {
    iconName: "projects",
    url: "/portfolio",
    text: "Projects",
  },
  {
    iconName: "aboutMe",
    url: "/portfolio/about",
    text: "About Me",
  },
  {
    iconName: "contactMe",
    url: "/portfolio/contact",
    text: "Contact Me",
  },
];
--- 
 
<section transition:name="main-header" class="w-full">
    <div class={`rounded-b-none p-3 rounded-xl bg-blue-300 dark:bg-[#172650]`}>
      <Navigation navLinks={navLinks} />
    </div>
    <article>
        <slot />
    </article>
</section>