---
import ReactIcon from "./icons/Stack/ReactIcon.astro";
import FigmaIcon from "./icons/Stack/FigmaIcon.astro";
import NodeJsIcon from "./icons/Stack/NodeJsIcon.astro";
import Astro2Icon from "./icons/Stack/AstroIcon.astro";
import GitIcon from "./icons/Stack/GitIcon.astro";
import TailWindCssIcon from "./icons/Stack/TailWindCssIcon.astro";
import BunIcon from "./icons/Stack/BunIcon.astro";
import NpmIcon from "./icons/Stack/NpmIcon.astro";
import AWSIcon from "./icons/Stack/AWSIcon.astro";
import PostgreSqlIcon from "./icons/Stack/PostgreSqlIcon.astro";
import VercelIcon from "./icons/Stack/VercelIcon.astro";
import TypeScriptIcon from "./icons/Stack/TypeScriptIcon.astro";
import ReactNativeIcon from "./icons/Stack/ReactNativeIcon.astro";
import HtmlIcon from "./icons/Stack/HtmlIcon.astro";
import JavaScriptIcon from "./icons/Stack/JavaScriptIcon.astro";
import CssIcon from "./icons/Stack/CssIcon.astro";
import SectionTitle from "./ui/SectionTitle.astro";

const technologies = [
  {
    Icon: ReactIcon,
    text: "ReactJS",
    size: "size-12",
  },
  {
    Icon: FigmaIcon,
    text: "Figma",
    size: "size-12",
  },
  {
    Icon: NodeJsIcon,
    text: "NodeJS",
    size: "size-12",
  },
  {
    Icon: Astro2Icon,
    text: "Astro",
    size: "size-8",
  },
  {
    Icon: GitIcon,
    text: "Git",
    size: "size-10",
  },
  {
    Icon: TailWindCssIcon,
    text: "TailwindCSS",
    size: "size-12",
  },
  {
    Icon: BunIcon,
    text: "Bun",
    size: "size-12",
  },
  {
    Icon: NpmIcon,
    text: "Npm",
    size: "size-12",
  },
  {
    Icon: AWSIcon,
    text: "AWS",
    size: "size-12",
  },
  {
    Icon: PostgreSqlIcon,
    text: "PostgreSQL",
    size: "size-12",
  },
  {
    Icon: VercelIcon,
    text: "Vercel",
    size: "size-12",
  },
  {
    Icon: TypeScriptIcon,
    text: "TypeScript",
    size: "size-12",
  },
  {
    Icon: ReactNativeIcon,
    text: "React Native",
    size: "size-12",
  },
  {
    Icon: HtmlIcon,
    text: "Html5",
    size: "size-12",
  },
  {
    Icon: JavaScriptIcon,
    text: "JavaScript",
    size: "size-12",
  },
  {
    Icon: CssIcon,
    text: "CSS3",
    size: "size-12",
  },
];
---

<div class="mb-24">
  <SectionTitle title="Stack" iconName="stack" />
  <div
    class="flex flex-wrap gap-12 mb-24 border rounded-lg py-8 px-8 max-h-78 max-lg:overflow-y-scroll"
  >
    {
      technologies.map(({ Icon, text, size }) => {
        return (
          <div
            class="group h-24 flex flex-col justify-between items-center"
            title={text}
          >
            <Icon classes={size} />
            <span
              class={`text-black group-hover:text-white group-hover:bg-zinc-900 dark:text-white 
                dark:group-hover:text-black  dark:group-hover:bg-white py-1 px-2 rounded-full border-2`}
            >
              <p>{text}</p>
            </span>
          </div>
        );
      })
    }
  </div>
</div>
