---
import MailIcon from "./icons/MailIcon.astro";
---

<div
  class="flex max-w-246 w-full text-right mx-auto fixed right-[50%-0.75rem] bottom-0"
>
  <div
    class="cursor-pointer bg-zinc-900 hover:bg-black dark:bg-zinc-200 dark:hover:bg-white absolute right-8 bottom-5 px-5 py-2 rounded-full hover:scale-105 transition-all"
  >
    <a href="/contact">
      <span class="flex gap-3 items-center">
        <p class="text-white dark:text-black text-sm">Contact Me</p>
        <MailIcon classes="size-5" gClasses="stroke-white dark:stroke-black" />
      </span>
    </a>
  </div>
</div>
