---
import ProfileCard from "./ProfileCard.astro";
import StackTech from "./StackTech.astro";
import WorkExperience from "./WorkExperience.astro";
---

<div
  class="profile-wrapper flex flex-col gap-4 w-full max-w-[320px] max-md:mx-auto"
>
  <ProfileCard />
  <StackTech />
  <WorkExperience />
</div>
