---
import SocialMedia from "../SocialMedia.astro";
import Card from "../ui/Card.astro";
import LoadingBar from "../ui/LoadingBar.astro";
---

<Card classes="pf-card-wrapper h-max w-full ">
  <div
    class="relative h-72 max-md:h-64 overflow-hidden rounded-xl bg-slate-300 dark:bg-slate-950"
  >
    <img
      src="/profile-card.jpg"
      class="pf-card-image w-full h-full object-cover opacity-0"
      alt="ProfileCard"
    />
    <LoadingBar
      classes="pf-card-loadingBar absolute inset-x-0 inset-y-0 m-auto"
    />
  </div>
  <div class="mt-3 text-center">
    <h3 class="text-2xl font-bold">JordiG</h3>
    <small class="dark:text-slate-300 text-slate-700">Frontend Developer</small>
    <div class="w-8 h-2 mt-2 mb-4 rounded-lg bg-blue-500 mx-auto"></div>
    <p class="font-light dark:text-slate-300 text-slate-700">
      The world is changing quckly...
      <br />
      We need to improve
    </p>
    <SocialMedia classes="flex gap-2 mx-auto w-max mt-3" />
  </div>
</Card>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const pfCardWrapper = document.getElementsByClassName("pf-card-wrapper")[0];
    const pfCardloadingBar =
      pfCardWrapper.getElementsByClassName("pf-card-loadingBar")[0];
    const pfCardImage =
      pfCardWrapper.getElementsByClassName("pf-card-image")[0];

    if (pfCardImage.complete) {
      pfCardloadingBar.classList.add("hidden");
      pfCardImage.classList.remove("opacity-0");
      return;
    } else {
      pfCardImage.addEventListener("load", () => {
        pfCardloadingBar.classList.add("hidden");
        pfCardImage.classList.remove("opacity-0");
      });
    }
  });
</script>
