---
import ThemeToggle from "./ThemeToggle.astro";
import Navigation from "../ui/Navigation.astro";

interface Props {
  classes?: string;
  id?: string;
}

const navLinks = [
  {
    iconName: "house",
    url: "/portfolio",
    text: "Portfolio",
  },
  {
    iconName: "blog",
    url: "/blog",
    text: "Blog",
  },
];

const { classes } = Astro.props;
---

<header class={classes} transition:name="main-header">
  <div class="flex justify-between items-center overflow-hidden">
    <Navigation navLinks={navLinks} isHeader={true} />
    <ThemeToggle />
  </div>
</header>
