---
import ThemeToggle from "./ThemeToggle.astro";
import Navigation from "../ui/Navigation.astro";

interface Props {
  classes?: string;
  id?: string;
}

const navLinks = [
  {
    iconName: "house",
    url: "/portfolio",
    text: "Portfolio",
  },
  /* {
    iconName: "blog",
    url: "/blog",
    text: "Blog",
  },*/
];
---

<header
  class="header fixed transition-transform inset-x-0 z-10 py-3 px-5 mx-auto w-full max-w-5xl border border-zinc-500 border-t-zinc-900 rounded-bl-2xl rounded-br-2xl overflow-hidden bg-background/70 backdrop-blur-3xl"
  transition:name="main-header"
>
  <div class="flex justify-between items-center overflow-hidden">
    <Navigation navLinks={navLinks} isHeader={true} />
    <ThemeToggle />
  </div>
</header>
