---
import ThemeToggle from "./ThemeToggle.astro";
import Nav from "./Nav.astro";
import PhoneNav from "./PhoneNav.astro";
import MenuBarIcon from "../icons/MenuBarIcon.astro";

interface Props {
  id?: string;
}
---

<header
  class="fixed inset-x-0 z-40 py-5 px-5 mx-auto w-full max-w-5xl border border-zinc-500 border-t-zinc-900 rounded-bl-2xl rounded-br-2xl bg-background/70 backdrop-blur-3xl"
>
  <div class="flex gap-5 justify-between items-center">
    <Nav aditionalClasses="max-md:hidden" />

    <input
      type="checkbox"
      id="menu-toggle"
      class="peer hidden"
      autocomplete="off"
    />
    <label
      for="menu-toggle"
      class="md:hidden peer-checked:bg-blue-400 p-2 rounded-full"
    >
      <MenuBarIcon />
    </label>
    <PhoneNav
      aditionalClasses="hidden peer-checked:block md:peer-checked:hidden"
    />
    <ThemeToggle />
  </div>
</header>
