.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20rem;
  margin: 0 auto;
  max-width: 120rem;
}

.posts__postCard {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
}

.posts__postCard__srcPost__image { width: 100% }

.posts__postCard__srcPost__title { color: hsl(0, 0%, 5%) }

.posts__postCard__description {
  color: hsl(0, 0%, 30%);
  margin-bottom: 3.2rem;
}

.posts__postCard___footer {
  display: flex;
  justify-content: space-between;
}

.posts__postCard___footer__author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.posts__postCard___footer__author__image {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

