.post {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.post__image {
  width: 100%;
}

.post__title { 
  font-size: 3rem;
  color: #383838;
}

.post__content__list-ol {
  margin-left: 2rem;
}

.post__content__text, .post__content__list-ol__item {
  font-size: 1.5rem;
  color: #515151;
  margin-bottom: 3rem;
}

.post__content__heading2 {
  color: #545454;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 3rem 0;
}

.post__footer {
  display: flex;
  gap: 1rem;
  margin-bottom: 20rem;
  flex-direction: column;
}

.post__footer__author { display: flex; gap: .5rem;}

.post__footer__author__image {
  width: 2.5rem;
}
.post__footer__author_description {
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.post__footer__author_description span {
  color: #383838;
}

.post__footer__date {   color: #383838}