---
import ArrowLeftIcon from "../icons/ArrowLeftIcon";
---

<div
  class="group dark:border-neutral-400 dark:group-hover:border-white my-5 cursor-pointer w-max px-4 py-2 rounded-lg hover:scale-105 transition-all"
>
  <a href="/">
    <span class="flex gap-2 items-center">
      <ArrowLeftIcon
        classes="dark:text-neutral-400 dark:group-hover:text-white size-4 transition-transform group-hover:-translate-x-1"
      />
      <p
        class="dark:text-neutral-400 dark:group-hover:text-white text-black text-xs"
      >
        Volver atras
      </p>
    </span>
  </a>
</div>
