---
interface Props {
  navLinks: {
    iconName: string;
    url: string;
    text: string;
  }[];
  isHeader?: boolean;
}

import Link from "./Link.astro";

const { navLinks, isHeader } = Astro.props;

var currentPath = Astro.url.pathname;
---

<nav class="py-1">
  <ul class="flex max-sm:flex-col w-full gap-1">
    {
      navLinks.map(({ iconName, url, text }) => {
        let isTabActive = currentPath == url;
        if (isHeader) {
          isTabActive = currentPath.includes(url);
        }

        return (
          <li
            class={`${isTabActive ? "text-blue-400 dark:text-blue-400 bg-white " : "dark:text-zinc-300 text-zinc-800 hover:text-blue-500 dark:hover:text-blue-400 "}   transition-colors font-bold tracking-wider rounded-lg `}
          >
            <Link href={url} iconName={iconName}>
              {text}
            </Link>
          </li>
        );
      })
    }
  </ul>
</nav>
