---
import StackIcon from "../icons/StackIcon.astro";
import TargetIcon from "../icons/TargetIcon.astro";
import UserIcon from "../icons/UserIcon.astro";
import WorkIcon from "../icons/WorkIcon.astro";

interface Props {
  title: string;
  iconName: keyof typeof icons;
}

const { title, iconName } = Astro.props;

const icons = {
  stack: StackIcon,
  target: TargetIcon,
  user: UserIcon,
  work: WorkIcon,
};

const SelectedIcon = icons[iconName];
---

<div class="flex gap-2 items-center mb-6">
  <SelectedIcon />
  <h2 class="text-black dark:text-white text-2xl">{title}</h2>
</div>
