---
import User from "./icons/User.astro"
---

<div class="max-w-3xl mx-auto pt-24 text-zinc-400">
    <h2 class="text-white text-xl mb-1 flex gap-2 items-center">
        <span>
            <User />
        </span>
        About Me
    </h2>
    <p class="text-xs">I started getting interested in programming back in high school when I was 13 years old. Currently, I work as a freelancer, constantly improving my skills every day.</p>
    <br>
    <p class="text-xs">I enjoy tackling complex problems, teaching, and learning from others. One of my most notable projects is <span class="text-yellow-100">Free Time Block</span> (a productivity app), and a collaboration on <span class="text-blue-300">Gadmin</span> (an enterprise system). Both experiences have contributed significantly to my journey.</p>
</div>
