---
import Phone from "./icons/Phone.astro"

const classes = 'col-span-1 row-span-1 max-sm:col-span-2'
---

<div class="pt-24">
    <h1 class="text-xl">        
        Contact Me
    </h1>
    <p class="text-xs text-zinc-500 mb-5">For new projects or collaborations, I'm open to them.</p>
    <form action="#" class="grid grid-cols-2 grid-rows-5 max-sm:grid-rows-7 gap-4 text-xs">
        <input type="text" class={classes} placeholder="First Name">
        <input type="text" class={classes} placeholder="Last Name">
        <input type="text" class={classes} placeholder="Email">
        <input type="text" class={classes} placeholder="Subject">
        <textarea name="" id="" class="col-span-2 row-span-2" placeholder="Message"></textarea>
        <input value="Send" type="submit" class="w-3/4 col-span-1 row-span-1 max-sm:col-span-2 max-sm:w-auto !border-white cursor-pointer hover:bg-white hover:text-black ">
    </form>
</div>

<style>
    input, textarea{
        border: 1px;
        border-color: hsl(0, 0%, 20%);
        border-style: solid;
        padding: 1rem .5rem;
        border-radius: .375rem;
        transition: border-color .2s linear;
    }

    input:focus, textarea:focus {
        border-color: white;
    }
</style>

