---
import Code from "./icons/Code.astro"
---
<div class="max-w-3xl mx-auto pt-24">
    <h1 class="text-xl flex gap-2 items-center">
        <span>
            <Code />
        </span>
        Projects
    </h1>
</div>