---
import Layout from "../layouts/Layout.astro";
---

<Layout title="blog">
  <!-- <Posts client:load /> -->
  <h1
    class="font-extrabold text-zinc-900 dark:text-zinc-100 text-5xl mt-24 mb-6"
  >
    This section isn't available yet
  </h1>
  <p class="mb-24 text-sm">Be pacient, soon will be public</p>
</Layout>
