---
import LinkComeBack from "../ui/LinkComeBack.astro";
import Form from "./Form.astro";
import Title from "./Title.astro";
import AsideContact from "./AsideContact.astro";
---

<LinkComeBack />
<Title />
<div class="flex gap-5 justify-between max-lg:flex-col">
  <Form />
  <AsideContact />
</div>
