<div class="rounded-lg mt-12">
  <h2 class="text-black dark:text-white text-2xl mb-1">Contact Me</h2>
  <p class="text-sm text-zinc-500 mb-5">
    For new projects or collaborations, I'm open to them.
  </p>
</div>
