div(class='text-center py-10 mt-20 text-secundary') 
    p 
        | Hecho con 
        span.text-blue-500 ♥ 
        | por 
        span.font-semibold JordiG  
        | | Todos los derechos reservados 2023 |