---
import SunMoon from "./SunMoon";

const navLinks = [
  {
    url: "/",
    text: "Portfolio",
  },
  {
    url: "/blog",
    text: "Blog",
  },
];
---

<header class="py-5 flex justify-between mb-24">
  <nav class="w-max py-1">
    <ul class="flex gap-5">
      {
        navLinks.map(({ url, text }) => (
          <li class="text-sm text-zinc-600 hover:text-zinc-900  dark:text-zinc-400 dark:hover:text-zinc-50 transition-colors">
            <a href={url}>{text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <SunMoon client:load />
</header>

<!-- <script>
  const html = document.getElementsByTagName("html")[0];
  let darkModeStatus = localStorage.getItem("darkModeStatus");
  const darkLightIcon = document.getElementById("dark-light-icon");

  if (darkModeStatus == null) {
    localStorage.setItem("darkModeStatus", "light");
  } else if (darkModeStatus == "dark") {
    html.classList.add("dark");
  }
  //else - by the default is light

  darkLightIcon?.addEventListener("click", () => {
    darkModeStatus = localStorage.getItem("darkModeStatus");

    darkModeStatus == "dark"
      ? localStorage.setItem("darkModeStatus", "light")
      : localStorage.setItem("darkModeStatus", "dark");

    html.classList.toggle("dark");
  });
</script> -->
