---
const navLinks = [
    {
        url: '/',
        text: 'Portfolio'
    },
    {
        url: '/blog',
        text: 'Blog'
    },
]
---
<header class='py-5'>   
    <nav class="w-max py-1">
        <ul class='flex gap-5'>
            {
                navLinks.map(({url, text}) => (
                    <li class="text-sm text-zinc-300 hover:text-zinc-200 transition-colors">
                        <a href={url}>{text}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
