---
import SocialMedia from "./SocialMedia.astro";
import Link from "./ui/Link.astro";
---

<div class="mb-48 mt-24">
  <h1 class="font-extrabold text-zinc-900 dark:text-zinc-100 text-5xl mb-2">
    Hi, I'm Jordi
    <span class="relative -top-[.12rem]">👋</span>
  </h1>
  <p class="mb-5 text-zinc-600 dark:text-zinc-400">Frontend Developer</p>
  <SocialMedia />
</div>
