 ---
import SocialMedia from "./SocialMedia.astro";
---

<div class="text-zinc-400 py-24">
    <h1 class="font-extrabold  text-blue-100 text-5xl mb-2">
        Hi, I'm Yordi  
        <span class="relative -top-[.12rem]">👋</span>
    </h1>
    <p class="mb-5">Frontend Developer</p>
    <SocialMedia />
</div>