---
import Twitter from "./icons/Twitter.astro";
import GithubIcon from "./icons/GithubIcon";
import Linkedin from "./icons/Linkedin.astro";
const classNameIcon = `hover:text-white size-5`;
---

<div class:list={["flex gap-5"]}>
  <a href="#">
    <Twitter className={classNameIcon} />
  </a>
  <a href="#">
    <Linkedin className={classNameIcon} />
  </a>
  <a href="#">
    <GithubIcon classes={classNameIcon} />
  </a>
</div>
