doctype html 
html(lang="es")
    head 
        include ../partials/head
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="stylesheet", href="/stylesheets/post.css")

body
    include ../partials/header

    article(class='post') 
        img(src='https://carlosfelice.com.ar/blog/wp-content/uploads/movil.jpg' class='posts__postCard__srcPost__image' class='post__image')
        h1(class='post__title') Telefono tonto, el antidoto de la sobrestimulación

        div(class='post__content')
            p(class='post__content__text') Un telefono tonto es aquel el cúal presenta caracteristicas muy limitadas en comparación con los smartphone de la actualidad. 
            p(class='post__content__text') Hoy día son muchas las personas que pasan la mayor parte de sus dias absortos en el telefono movíl, es una realidad que se ha producido en poco tiempo sin nisiquiera gran parte de las personas lo hayamos notado aún. 
            p(class='post__content__text') Es por ello que ha surgido un grupo de personas los cuales han sentido como estas nuevas tecnologías han afectado su vida en general, por lo que han decído dejar atrás las maquinas pequeñas que llevamos todo el día con nosotros.  
            p(class='post__content__heading2') ¿De que manera un telefono tonto entonces le beneficía a este grupo de personas?   
            ol(class='post__content__list-ol')
                li(class='post__content__list-ol__item') Mediante el uso de estos dispositivos con caracteristicas muy limitadas estan personas no reciben notificaciones todo el día que perjudican su concentración.
                li(class='post__content__list-ol__item') Pueden seguir en contacto con las personas que deseén. 
                li(class='post__content__list-ol__item') Pueden concentrarse en el mundo que tienen ante sus ojos. 

        div(class='post__footer') 
            div(class='post__footer__author')
                img(class='post__footer__author__image' src="https://w7.pngwing.com/pngs/406/902/png-transparent-flat-design-person-character-man-avatar-smiley-face-minimalist-dude.png", alt="JordiG")
                div(class='post__footer__author_description') 
                    p JordiG
                    span Developer Web 
            span(class='post__footer__date') Fecha de publicación: 23 de agosto 2023
