---
import ProfileCard from "./ProfileCard.astro";
import StackTech from "./StackTech.astro";
import WorkExperience from "./WorkExperience.astro";
---

<section class="md:max-w-[320px] flex flex-col flex-wrap gap-4 max-md:mx-auto">
  <ProfileCard />
  <WorkExperience />
  <StackTech />
</section>
