---
import "../styles/app.css";
import "../styles/reset.css";
import MainHeader from "../components/portfolio/Header/MainHeader.astro";
import MainAside from "../components/portfolio/Aside/MainAside.astro";
import Banner from "../components/portfolio/Banner.astro";
import ScrollToTop from "../components/portfolio/ScrollToTop.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-pt-24 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- POPPINS FONTS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- SIGNIKA FONTS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - JordiG</title>
  </head>
  <body class="bg-slate-300 dark:bg-slate-950 dark:text-white relative">
    <MainHeader />
    <Banner />
    <main
      class="relative -mt-64 max:w-full max-w-5xl mx-auto px-3 flex max-md:flex-col gap-4"
    >
      <MainAside />
      <article class="grid gap-5">
        <slot />
      </article>
      <ScrollToTop />
    </main>
  </body>
</html>

<script>
  const theme = localStorage.getItem("theme");

  if (theme === "dark") {
    localStorage.setItem("theme", "dark");
    document.documentElement.classList.add("dark");
  } else {
    localStorage.setItem("theme", "light");
    document.documentElement.classList.remove("dark");
  }

  const banner = document.getElementsByClassName("Banner")[0];
  const ScrollToTop = document.getElementsByClassName("ScrollToTop")[0];

  const observer = new IntersectionObserver(
    (entries) => {
      const bannerElement = entries[0];

      if (bannerElement.isIntersecting) {
        ScrollToTop.classList.add("invisible");
        ScrollToTop.classList.remove("-translate-y-28");
      } else {
        ScrollToTop.classList.remove("invisible");
        ScrollToTop.classList.add("-translate-y-28");
      }
    },
    { rootMargin: "0px 0px 0px 0px" },
  );

  observer.observe(banner);

  ScrollToTop.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
