---
import "../styles/app.css";
import "../styles/reset.css";
import { ClientRouter } from "astro:transitions";
import MainHeader from "../components/portfolio/Header/MainHeader.astro";
import Banner from "../components/portfolio/Banner.astro";
import MainProfile from "../components/portfolio/Profile/MainProfile.astro";
import ScrollToTop from "../components/portfolio/ScrollToTop.astro";
import Content from "../components/portfolio/Content.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- POPPINS FONTS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- SIGNIKA FONTS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - JordiG</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-300 dark:bg-slate-950 dark:text-white relative">
    <MainHeader />
    <Banner />
    <main
      class="relative -top-24 w-full max-w-5xl mx-auto px-5 flex max-md:flex-col gap-4"
    >
      <MainProfile />
      <Content>
        <slot />
      </Content>
      <ScrollToTop />
    </main>
  </body>
</html>

<!-- Set the theme before the page is rendered to avoid a flash -->

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const theme = localStorage.getItem("theme");

    if (theme === "dark") {
      localStorage.setItem("theme", "dark");
      document.documentElement.classList.add("dark");
    } else {
      localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("dark");
    }

    const banner = document.getElementsByClassName("Banner")[0];
    const ScrollToTop = document.getElementsByClassName("ScrollToTop")[0];

    const header = document.getElementsByClassName("header")[0];
    const observer = new IntersectionObserver(
      (entries) => {
        const bannerElement = entries[0];

        if (bannerElement.isIntersecting) {
          header.classList.remove("-translate-y-20");
          ScrollToTop.classList.add("invisible");
          ScrollToTop.classList.remove("-translate-y-28");
        } else {
          header.classList.add("-translate-y-20");
          ScrollToTop.classList.remove("invisible");
          ScrollToTop.classList.add("-translate-y-28");
        }
      },
      { rootMargin: "-170px 0px 0px 0px" },
    );

    observer.observe(banner);

    ScrollToTop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
