---
import Layout from "../../layouts/Layout.astro";
import ToTopButton from "../../components/portfolio/ToTopButton.astro";
import Card from "../../components/portfolio/ui/Card.astro";
---

<Layout title="Portfolio">
  <Card>
    <h1 class="text-2xl">Resumen Professional</h1>
    <p class="intro">
      Soy un <strong>Desarrollador web FullStack</strong> disfruto aprender, desarrollar
      soluciones efectivas y elegantes a los problemas y enfrentar nuevos desafíos.
    </p>
    <br />

    <div class="projects">
      <h2 class="text-lg">Mis proyectos mas destacados:</h2>

      <ul class="interests">
        <li>Archit: Red Social enfocada en la productividad personal</li>
        <li>ComLang: App de Aprendizajes de idiomas</li>
        <li>DeliTracker: App de seguimiento de delivery</li>
      </ul>
    </div>

    <ul class="interests">
      <li>🐧 Entusiasta de Open Source</li>
      <li>🌍 Aprendiz de idiomas</li>
      <li>💻 Tech Explorer</li>
    </ul>
  </Card>
  <ToTopButton />
</Layout>
