---
import Card from "../../components/portfolio/ui/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <Card classes="rounded-t-none pt-6 w-full">
    <p>Pronto contenido aquí</p>
  </Card>
</Layout>
